<!DOCTYPE html>
<html lang="en">
<%- include('./partials/headconfirmation.ejs') %>')
<body>
    <div id="container">
        <h1>Registration Confirmation</h1>
        <p id="id">ID: <%= newUser.id %></p>
        <p id="fullName">Full Name: <%= newUser.fullName %></p>
        <p id="address">Address: <%= newUser.address %></p>
        <p id="status">Status: <%= newUser.status %></p>
        <p>Fee: $<%= fee %></p>
    </div>
    
</body>
</html>
